body,html{
height:100%;
}
body{
font-family:'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
color:#FB3333;
}
p{
font-size:14px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   #mc_embed_signup label{
background:none repeat scroll 0 0 rgba(0, 0, 0, 0.30);
}
#myCarousel {
  width: 400px;
  margin: 0 auto;
}

.center-img{
  margin-top: 150px;
}
.carousel-inner img {
  margin: auto;
}
.pages {
  padding-top: 70px;
  padding-bottom:70px;
}
#mc_embed_signup h2{
font-size:25px !important;
font-weight:normal !important;
text-align:center;
}
#mc_embed_signup input.email{
width:96% !important;
}
#mc_embed_signup .button{
background-color:#33A4DE !important;
margin:0 auto !important;
}
#mc_embed_signup{
background:none repeat scroll 0 0 rgba(0, 0, 0, 0.45) !important;
height:180px !important;
}
#welcome_area{
min-height:100%;
padding-bottom:65px;
padding-top:30px;
}
.bigger {
  color:black;
  font-size: 50px;
  font-weight:800;
}

.smaller {
  color:black;
  font-size: 25px;
  font-weight:800;
}
.img_ipad{
display:block;
float:none;
margin:0 auto;
width:100%;
}
.img_right{
display:block;
float:none;
margin:0 auto;
width:270px;
}
.img_weird{
display:block;
margin:0 auto;
width:150px;
}
.img_left{
display:block;
margin:0 auto;
width:270px;
}
.mid_size > img{
display:block;
margin-bottom:15px;
margin-top:15px;
text-align:center;
width:100%;
height:69px;
}
.scroll_down
{
margin-bottom:30px;
margin-top:30px;
}

#welcome_area .img_right{
width:265px;
}
.blue_text{
color:#F02D2D;
}
.mid_size{
display:block;
margin:0 auto;
padding:2px;
width:180px;
}
.affix{
position:fixed;
/*transform*/
-webkit-transform:translate3d(0px, 0px, 0px);
   -moz-transform:translate3d(0px, 0px, 0px);
    -ms-transform:translate3d(0px, 0px, 0px);
     -o-transform:translate3d(0px, 0px, 0px);
        transform:translate3d(0px, 0px, 0px);
z-index:9999;
}
.img_logo{
  display:block;
  width:150px;
  margin:0 auto;
}
.activities_area{
background:none repeat scroll 0 0 #FFFFFF;
padding-bottom:100px;
padding-top:100px;
width:100%;
}
.activities_area h1{
padding-bottom:45px;
text-align:left;
}
.notify_area h1 ,.communitie_area h1{
padding-bottom:30px;
text-align:center;
}
.communitie_area{
background:#E8E8E8;
padding-bottom:100px;
padding-top:100px;
}
.notify_area{
background:white;
padding-top:100px;
padding-bottom:100px;
text-align:center;
}
.intro_area{
background:#E8E8E8;
padding-top:100px;
padding-bottom:100px;
text-align:center;
}
.business_owner_area{
background:#E8E8E8;
padding-bottom:50px;
padding-top:50px;
}
.bold_bg{
background:none repeat scroll 0 0 #3dacff;
margin-bottom:100px;
padding-bottom:15px;
padding-top:15px;
}
.bold_bg h2{
color:#ffffff;
font-family:open sans;
margin-top:8px;
padding-left:0;
padding-right:0;
padding-top:8px;
text-align:center;
padding-bottom:8px;
}
.venu_b{
border:2px solid #ffffff;
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
color:#ffffff;
cursor:pointer;
display:inline-block;
font-size:26px;
line-height:55px;
margin:10px 45px  0;
padding:0px 35px 5px;
/*transition*/
-webkit-transition:all 0.05s ease-out;
   -moz-transition:all 0.05s ease-out;
     -o-transition:all 0.05s ease-out;
        transition:all 0.05s ease-out;
}
.business_owner_area .list-inline li img{
background:none repeat scroll 0 0 #EDEDED;
border:1px solid #DDDDDD;
/*border-radius*/
-webkit-border-radius:50%;
   -moz-border-radius:50%;
        border-radius:50%;
height:100%;
padding:10px;
width:100%;
}
.get_in_touch_area{
background:none repeat scroll 0 0 white;
color:#444;
padding-bottom:50px;
padding-top:100px;
text-align:center;
}
.get_in_touch_area .text_area input ,.get_in_touch_area .text_area textarea{
border:1px solid #DDDDDD;
color:#444;
font-weight:normal;
}
.get_in_touch_area .text_area{
margin-top:0px;
}
.get_in_touch_area .list-inline i{
color:#444;
}
.submit_btn{
background:none repeat scroll 0 0 #FB3333;
border:0 none;
color:#ffffff;
}
.submit_btn:hover{
background:none repeat scroll 0 0 #F02D2D;
border:0px;
color:#FFFFFF;
}
.get_in_touch_area ul{
margin-top:30px;
}
.get_in_touch_area ul , #welcome_area ul{
text-align:center;
}
.get_in_touch_area .col-md-5, .get_in_touch_area .col-md-7{
padding:10px;
}
.get_in_touch_area .col-md-12{
padding:10px;
}
#welcome_area ul li a , .get_in_touch_area ul li a{
color:#fff;
}
#welcome_area ul li a:hover{
color:#2E9DD7;
}
#result{
font-size:18px;
}
#result .error{
color:red;
}
.js div#preloader{
background:none repeat scroll 0 0 #fff;
height:100%;
left:0;
padding-top:25%;
overflow:visible;
position:fixed;
text-align:center;
top:0;
width:100%;
z-index:999;
}
.text_area i{
margin-left:20px;
margin-top:0;
position:relative;
top:5px;
display:none;
}
#result .error i{
padding-right:10px;
color:#3C3C3F;
font-size:22px;
}
#result .success i{
padding-right:10px;
color:#3C3C3F;
font-size:22px;
}
#result .success{
color:green;
}
.newsletter{
background:none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
display:block;
margin-top:50px;
padding:10px;
position:relative;
width:100%;
}
.newsletter p{
color:#FFFFFF;
font-size:15px;
font-weight:bold;
text-align:center;
}
.img_icon{
width:50px;
}
.activities_area .img_icon{
display:block;
float:none;
margin:0 auto 0 270px;
text-align:center;
width:50px;
}
.img_icon{
display:block;
float:none;
font-size:35px;
margin:0 auto;
text-align:center;
width:92px;
color:#FB3333;
}
.get_in_touch_area .text_area #submit_btn{
margin-bottom:20px;
margin-top:20px;
padding:11px 20px;
}
.venu_b a{
color:#fff;
font-weight:bold;
text-decoration:none;
}
.n_submit{
background:none repeat scroll 0 0 #FB3333;
border:0 none;
/*border-radius*/
-webkit-border-radius:3px;
   -moz-border-radius:3px;
        border-radius:3px;
bottom:15px;
color:#ffffff;
font-size:14px;
height:30px;
padding:5px;
position:absolute;
right:12px;
width:65px;
}
footer{
background:none repeat scroll 0 0 #F02D2D;
}
footer nav ul{
margin:0;
padding:0;
}
footer nav ul li{
display:block;
float:left;
list-style:none outside none;
padding:8px 15px;
}
footer nav ul li a{
color:#fff;
font-size:15px;
}
footer nav ul li a:hover{
color:#000;
text-decoration:none;
}
footer p{
color:#FFFFFF;
font-size:13px;
margin-bottom:0;
padding:8px 0;
width:100%;
text-align:center;
}
a{
color:#F02D2D;
}
/*Pages */
.page{
background:none repeat scroll 0 0 rgba(255, 255, 255, 0.90);
padding-bottom:100px;
}
.navbar-default{
background:none repeat scroll 0 0 rgba(255, 255, 255, 0.90);
}


/* Effect 13: three circles */
.cl-effect-13 a{
/*transition*/
-webkit-transition:color 0.3s;
   -moz-transition:color 0.3s;
     -o-transition:color 0.3s;
        transition:color 0.3s;
}
.cl-effect-13 a::before{
position:absolute;
top:30px;
left:50%;
color:transparent;
content:'•';
text-shadow:0 0 transparent;
font-size:1.2em;
/*transition*/
-webkit-transition:text-shadow 0.3s, color 0.3s;
   -moz-transition:text-shadow 0.3s, color 0.3s;
     -o-transition:text-shadow 0.3s, color 0.3s;
        transition:text-shadow 0.3s, color 0.3s;
/*transform*/
-webkit-transform:translateX(-50%);
   -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
     -o-transform:translateX(-50%);
        transform:translateX(-50%);
pointer-events:none;
}
.cl-effect-13 a:hover::before,
.cl-effect-13 a:focus::before{
color:#000;
text-shadow:10px 0 #000, -10px 0 #000;
}
.nav.navbar-nav.navbar-right.cl-effect-13 a{
color:#000;
}
.cl-effect-13 a:hover,
.cl-effect-13 a:focus{
color:#000;
font-size:14px;
}
.page .col-md-2 p{
padding-bottom:10px;
padding-top:10px;
text-align:center;
}
.page p{
font-size:18px;
line-height:30px;
}
.text_p_center p{
margin-top:62px;
}
.logo{
width:250px;
}
header{
border-bottom:5px solid #FB3333;
padding-bottom:100px;
padding-top:30px;
margin-top:120px;
}
.list-inline{
text-align:center;
}
.page .col-md-2 > img{
display:block;
margin:0 auto;
max-width:300px;
text-align:center;
}
.page .text_area input ,.page .text_area textarea{
background:none repeat scroll 0 0 #fff;
border:1px solid #ddd;
color:#000;
font-weight:normal;
}
.page .text_area{
margin-top:20px;
}
.page .submit_btn{
text-align:center;
display:block;
margin:0 auto;
padding:8px 18px;
}
.about_only p{
color:#A6A6A6;
font-size:14px;
line-height:20px;
text-align:left;
}
.about_only{
margin-top:100px;
text-align:center;
}
.signle_box{
background:none repeat scroll 0 0 rgba(255, 255, 255, 0.65);
border:1px solid #DDDDDD;
display:block;
margin-top:115px;
min-height:374px;
padding:20px;
position:relative;
}
.signle_box h3{
margin-top:-73px;
}
.signle_box h3 small{
display:block;
margin-top:10px;
}
.about_only h1{
margin-top:50px;
}
.mpp{
background:none repeat scroll 0 0 #FFFFFF;
border:1px solid #DDDDDD;
/*border-radius*/
-webkit-border-radius:50%;
   -moz-border-radius:50%;
        border-radius:50%;
height:130px;
left:0;
padding:10px;
position:relative;
top:-90px;
width:130px;
}
.about_only #accordion {
  text-align: left;
}

.panel-title > a:after {
  content: "+";
  display: block;
  float: right;
  font-size: 20px;
  height: 10px;
  position: relative;
  right: 12px;
  width: 10px;
}
.panel-title > a {
  color: inherit;
  display: block;
}

.panel-title > a:hover{text-decoration:none;
color:#00A13F;}


/*
##
##
Pricing Page
##
##
 */
.plan{
background:none repeat scroll 0 0 #fff;
border-bottom:medium none !important;
/*box-shadow*/
-webkit-box-shadow:0 1px 3px 1px #d6d6d6;
   -moz-box-shadow:0 1px 3px 1px #d6d6d6;
        box-shadow:0 1px 3px 1px #d6d6d6;
padding:0 0 30px;
margin-bottom:60px;
}
.plan-name h2{
color:#00a03f;
font-size:40px;
}
.plan-name{
border-bottom:0px solid !important;
}
.plan ul  .plan-price{
border-bottom:1px solid #FDFCFA;
font-size:20px;
list-style:outside none none;
padding:10px 0;
color:#00a742;
}
.plan ul li{
color:#353536;
list-style:outside none none;
padding:10px 0;
font-style:13px;
}
.plan-price > strong{
color:#00a742;
display:block;
font-size:30px;
}
.plan ul li i{
color:#00ae46;
padding-right:10px;
}
.plan ul .plan-disable{
color:#ABABAB;
}
.plan-highlight .plan-name h2{
color:#fff;
}
.plan-highlight2 .plan-name h2{
color:#fff;
}

.plan.plan-highlight .plan-name{
background:none repeat scroll 0 0 #009f40;
position:relative;
top:-15px;
}
.plan.plan-highlight2 .plan-name{
background:none repeat scroll 0 0 #00DB00;
position:relative;
top:0px;
}

.plan.plan-highlight > ul{
background:none repeat scroll 0 0 #fffff9;
}
.plan.plan-highlight2 > ul{
background:none repeat scroll 0 0 #fffff9;
}


.block .box{
margin-bottom:50px;
}
.block .box p.title{
font-size:20px;
font-style:italic;
margin-bottom:10px;
color:#444;
}
.block .box p.answ{
font-size:14px;
line-height:22px;
color:#444;
}

.cbp-af-header-shrink  .navbar-brand > img {
  width: 200px;
  margin-top: 10px;
}
.cbp-af-header  .navbar-brand > img {
  margin-top: 18px;
}

.plan ul li{
padding: 10px;
}